@charset "UTF-8";
#seatHead{
	width:990px;
	height:62px;
	margin: 0 auto;
	border-bottom:1px solid gray;
}
#seatHead span{
	display:block;
	width:247px;
	height:12px;
	float:left;
	font-size: 12px;
	position: relative;
	left:40px;
	top:40px;
	color:gray;
}
#seatBody{
	width:992px;
	height:601px;
	margin: 0 auto;
	margin-top:10px;
	border: 0.5px solid #E5E5E5;
}
#left{
	width:680px;
	height:100%;
	float:left;
	
}
#right{
	width:310px;
	height:100%;
	float:left;
	background-color: #FFF5F5;
	border-bottom: 0.5px solid #E5E5E5;
}
#r1{
	width:293px;
	height:135px;
	margin: 0 auto;
}
#r1_1{
	width:80px;
	height:113px;
	background-size: 100% 100%;
	margin-top: 20px;
	margin-left: 10px;
	float:left;
}
#r2{
	width:100%;
	height:200px;
}
#r3{
	width:100%;
	height:70px;
	border-top: 0.5px solid #E5E5E5;
	border-bottom: 0.5px solid #E5E5E5;
}
#r4{
	width:100%;
	height:180px;
}
#right span,input{
	position: relative;
	left:20px;
	color:gray;
	font-size: 14px;
}
#i1{
	display: block;
	width:225px;
	height:39px;
	font-size: 16px;
	color:black;
	
}
#bt{
	display: block;
	width:155px;
	height:42px;
	font-size: 16px;
	background-color: red;
	border: none;
	color:white;
}
#ihead{
	width:100%;
	height:51px;
	background-image: url("../img/head.PNG");
}
.ihead{
	position: relative;
	left:250px;
	
}
#imid{
	width:600px;
	height:400px;
	margin-left: 60px;
	margin-top: 30px;
	border-bottom: 0.5px solid #E5E5E5;
}
#imid div{
	
	width:30px;
	height: 29px;
	float: left;
	margin-left:15px;
	margin-right:15px;
	
	background-repeat: no-repeat;
}
#ifoot{
	position: relative;
	top:30px;
	left:160px;
}
#seatFoot{
	width:992px;
	height: 129px;
	margin: 0 auto;
	background-image: url("../img/foot.PNG");
	
}
#nums{
	width:293px;
	
}
#nums span{
	display: block;
	border: 1px solid red;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}